*, *:before, *:after {
box-sizing: border-box;
}

body {
color: white;
background-color: black;
background-repeat: no-repeat;
font-size: 20px;
font-family: "SF Pro Display", "sans-serif";
}

.container {
background-color: black;
width: 375px;
}

form.example input[type=text] {
  color: #29A0E3;
  margin: 3px;
  border-radius: 9px;
  padding: 7px;
  font-size: 17px;
  border: 0px;
  float: center;
  width: 375px;
  background-color: #363636;
}

.map-picture {
padding-top: 8px;
width: 375px;
}

.header {
padding-bottom: 15px;
padding-left: 0;
padding-right: 0;
position: relative;
width: 375px;
top: 0;
z-index: 1;
background: black;
}

.number {
font-weight: bold;
border-radius: 10px;
text-align: center;
margin-top: 1px;
background-color: #525252;
color: white;
padding: 20px 32px;
display: inline-block;
font-size: 20px;
position: relative;
z-index: 2;
font-family: 'SF Pro Text';
}

.number2 {
font-weight: bold;
border-radius: 10px;
text-align: center;
margin-top: 1px;
background-color: #525252;
color: white;
padding: 20px 28px;
display: inline-block;
font-size: 20px;
position: relative;
z-index: 2;
font-family: 'SF Pro Text';
}

.list1 {
padding-top: 1px;
float: right;
margin-top: -75px;
box-sizing: border-box;
border-radius: 10px;
position: relative;
}

.list2 {
float: right;
box-sizing: border-box;
border-radius: 10px;
position: relative;
}


.bus1 {
border-radius: 10px;
line-height: 1.6;
background-color: #363636;
}

.bus {
list-style: none;
margin: 0;
padding-bottom: 15px;
border-radius: 1px;
height: 8%;
width: 100%;
display: inline-block;
}


.route1 {
font-size: 17px;
padding-right: 77px;
text-align: right;
font-weight: normal;
color: #29A0E3;
font-family: 'SF Pro Text';

}

.route2 {
font-size: 17px;
padding-right: 199px;
text-align: right;
font-weight: normal;
color: #29A0E3;
font-family: 'SF Pro Text';

}

.route3 {
font-size: 17px;
padding-right: 177px;
text-align: right;
font-weight: normal;
color: #29A0E3;
font-family: 'SF Pro Text';

}

.route4 {
font-size: 17px;
padding-right: 84px;
text-align: right;
font-weight: normal;
color: #29A0E3;
font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

}

.route5 {
font-size: 17px;
padding-right: 145px;
text-align: right;
font-weight: normal;
color: #29A0E3;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;

}

.route6 {
font-size: 17px;
padding-right: 100px;
text-align: right;
font-weight: normal;
color: #29A0E3;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;

}

.route7 {
font-size: 17px;
padding-right: 160px;
text-align: right;
font-weight: normal;
color: grey;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;

}

.route8 {
font-size: 17px;
padding-right: 190px;
text-align: center;
font-weight: normal;
color: grey;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
}

.route9 {
font-size: 17px;
padding-right: 125px;
text-align: right;
font-weight: normal;
color: grey;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;

}

.arrival1 {
text-align: center;
font-size: 16px;
padding-right: 103px;
font-weight: normal;
color: white;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
}

.arrival2 {
text-align: center;
font-size: 16px;
padding-right: 192px;
font-weight: normal;
color: white;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
}

.arrival3 {
text-align: center;
font-size: 16px;
padding-right: 229px;
font-weight: normal;
color: white;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
}

.arrival4 {
text-align: center;
font-size: 16px;
padding-right: 149px;
font-weight: normal;
color: gray;
font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
}

.frequency1 {
font-size: 14px;
padding-right: 85px;
color: orange;
font-weight: normal;
text-align: center;
font-family: 'SF Pro Text';
}

.frequency2 {
text-align: center;
font-size: 14px;
padding-right: 180px;
color: orange;
font-weight: normal;
text-align: center;
font-family: 'SF Pro Text';
}

.frequency3 {
text-align: center;
font-size: 14px;
padding-right: 220px;
color: red;
font-weight: normal;
text-align: center;
font-family: 'SF Pro Text';
}

.frequency4 {
text-align: center;
font-size: 14px;
padding-left: 20px;
padding-right: 156px;
color: yellow;
font-weight: normal;
text-align: center;
font-family: 'SF Pro Text';
}

.frequency5 {
text-align: center;
font-size: 14px;
padding-left: 20px;
padding-right: 160px;
color: yellow;
font-weight: normal;
text-align: center;
font-family: 'SF Pro Text';
}

.chevron {
margin-top: 8px;
font-size: 20px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
display: inline-block;
float: right;
padding: 10px;

}

.minutes {
height:75px;
font-size: 14px;
font-weight: normal;
color: #4FBA61;
text-align: right;
display: inline-block;
float: right;
}
